

*{
  margin: 0px;
  
}

.header nav{
  color: white;
  height: 80px;
  background-color: black;
  display: flex;
  padding-right: 25px;
  padding-left: 25px;
  align-items: center;
}

.header ul{

  flex-basis: 75%;
  display: flex;
  justify-content: center;
  justify-content: flex-end;

  list-style: none;
}

.header  nav a{
  color: white;
  text-decoration: none;
  transition: all 300ms;
  margin-right: 10px;
  margin-left: 10px;
}

.header  nav a:hover{
  color: lightblue;
}

.content{
  width: 70%;
  min-height: 350px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin: 25px auto;
  padding: 25px;

}

body{
  background-color:  #eee;
}









.activado{
  font-weight: bold;
  font-size: 18px;
  color: blue;
  text-decoration: none;
}


.login input{
  display: block;
  margin: 15px;
  padding: 15px;
}